.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navList {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.navItem {
  list-style: none;

  & > a {
    text-decoration: none;
  }
}
